$body-bg: #FFFFFF;
$navbar-height: 80px;

$my-rojo: #b02c23;
$my-rojo2: #85231c;
$my-amarillo: #F9B214;
$my-orange: #f98012;
$my-oscuro: #003049;
$my-gris: #B8B9BE;
$my-gris2: #84848a;
$my-negro: #3D3D3D;
$my-blue:#2a4b9b;
$my-blue2:#0e1428;
$my-blue3: #001f40;
$my-dark: black;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-aux: 'Roboto', sans-serif;

$headings-font-family: "Roboto", $font-family-sans-serif !default;

$color-primary: $my-blue;
$color-primary-dimmed: #ed4567;
$color-primary-dark: $my-blue2;
$color-secondary: $my-blue2;
$color-secondary-dimmed: $my-blue;
$color-secondary-dark: #001b29;
$color-terciary: $my-dark;
$color-terciary-dimmed: #fac34c;
$color-terciary-dark: #efa506;

$brand-primary: $my-dark;
$navbar-header-color: rgb(255, 0, 0);

$color-blue: #06BEE1;

$headings-color: $my-gris;

$nav-drawer-color: $color-primary;


$blue:    #2C8C99 ;
$indigo:  #003049 ;
$purple:  #626DA7 ;
$pink:    #F5A6E6 ;
$red:     #E41740 ;
$orange:  #FE6734 ;
$yellow:  #EAAB00 ;
$green:   #61E786 ;
$teal:    #80DEEC ;
$cyan:    #06BEE1 ;


/* extra variables */

$my-loginfooterheight: 80px;
